@model EmployeeAccountingSystem.Models.ViewModels.Responses.CompanyViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <hr>
    <h4>@Model.Description</h4>
    <hr>
    <p>Menu:</p>
    <a>Staff</a>
    <a>Departments</a>
    <hr>
</div>
