@model CompanyViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h4>@Model.Description</h4>
    <hr>
    <p>Menu:</p>
    <a href="@Url.Action("Index", "Employee")">Staff</a>
    <a>Departments</a>
</div>
