<!DOCTYPE html>
<html lang="en">
<head>
    <title>Microsoft - @ViewData["Title"]</title>
</head>
<body>
    <header>
        <h1>Microsoft</h1>
        <h3>@ViewData["Title"]</h3>
    </header>
    <div>
        <hr>
        @RenderBody()
        <hr>
    </div>
    <footer>
        <a href="@Url.Action("Index", "Home")">To home page</a>
    </footer>
</body>
</html>
